:root{

    --Primary-blue:#1847a1;
    --Primary-purple:#802686;
    --Primary-pink:#eb3f7f;
    --Primar-text:#161616;
    --Primary-text-light:#fafafa;
    --Primary-text-gray: #3d3d3d;
}

body{
    user-select: none;
}
.login-btn
{
    background: rgb(24,71,161);
    background: linear-gradient(145deg, rgba(24,71,161,1) 0%, rgba(121,42,129,1) 100%);
    border: none !important;
}
.main-body
{
    padding: 0 !important;
}
.navSide li div 
{
    border-radius: 8px;
}
.navSide li .active{
    background-color: var(--Primary-blue);
    color: var(--Primary-text-light) ;
}
.navSide li a {
    color: var(--Primary-text-gray);
        text-decoration: none;
}
.navSide li:hover div 
{
    background-color: #8eb6ff;
    transition: all .5s ease-in;
    cursor: pointer;
    color: var(--Primary-text-light) ;
   
}
.dash-fluid
{
    padding: 0 !important;
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5 !important; 
}

.sideNavRes 
{
    background-color: #ffffff;
}
.sideNavRes i
{
    cursor: pointer;
}
















@media (max-width: 576px) {
    .sideNavWrapper
    {
       
        position: fixed !important;
        width: 80vw !important;
        height: 100vh;
        z-index: 4 !important;
        background-color: #f5f5f5 ;
        transform: translateX(-100%);
        transition: all .5s ease-in-out;
    }

    .sideNavWrapper.open
    {
        transform: translateX(0);
        transition: all .5s ease-in-out;
    }
    .cutomerInsightTable, .invoiceTable
    {
        max-width: 100vh;
     
        overflow: auto;
    }
}